@font-face {
    font-family: 'RubikBlack';
    src: url('./assets/fonts/Rubik-Black.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikBold';
    src: url('./assets/fonts/Rubik-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikLight';
    src: url('./assets/fonts/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikMedium';
    src: url('./assets/fonts/Rubik-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikRegular';
    src: url('./assets/fonts/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RubikMediumItalic';
    src: url('./assets/fonts/Rubik-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RubikItalic';
    src: url('./assets/fonts/Rubik-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RubikLightItalic';
    src: url('./assets/fonts/Rubik-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RubikBoldItalic';
    src: url('./assets/fonts/Rubik-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RubikBlackItalic';
    src: url('./assets/fonts/Rubik-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikSemiBold';
    src: url('./assets/fonts/Rubik-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikSemiBoldItalic';
    src: url('./assets/fonts/Rubik-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikExtraBold';
    src: url('./assets/fonts/Rubik-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubikExtraBoldItalic';
    src: url('./assets/fonts/Rubik-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

